.input-form {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  width: 50%;
  gap: 1rem;
}

.input-form input {
  height: 60px;
  width: 80%;
  border-radius: 20px;
  background: var(--card-bg-color);
  border: none;
  color: var(--text-primary);
  text-indent: 0.7rem;
}


.input-form input:focus-visible {
  outline: none;
  box-shadow: 0 0 8px 4px var(--shadow-focus);
  transition: box-shadow 0.3s ease-in-out;
}

input {
  flex: 1;
  min-width: 150px;
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  transition: border-color 0.3s ease;
}

button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  color: white;
  transition: background-color 0.3s ease;
}

.btn-search {
  padding: 13px;
  background-color: var(--search-btn-bg);
  border-radius: 20px;
}

.btn-search:hover {
  box-shadow: 0px 4px 10px 0px rgba(23, 23, 23, 0.25);
}

@media (max-width: 600px) {
  .input-form {
    width: 90%;
  }
  .input-form input {
    width: 90%;
  }
  .btn-search {
    width: auto;
  }
  input {
    box-sizing: border-box;
    margin-bottom: 10px;
    width: 100%;
    margin: 0 auto;
  }
  button {
    width: 100%;
    margin: 0 auto;
  }
}
