@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("./styles/variables.css");
@import url("./styles/card.css");
@import url("./styles/switch.css");
@import url("./styles/input-search.css");
@import url("./styles/search-history.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  color: var(--text-primary);
  transition: all 0.5s ease-in-out;
  background-image: var(--bg-image);
  overflow-x: hidden;
  background-size: cover;
}

@media (max-width: 600px) {
  body {
    background-size: auto;
  }
}

::placeholder {
  color: var(--text-primary);
  opacity: 0.4;
}

img {
  vertical-align: bottom;
}

.container-main {
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  gap: 2rem;
  position: relative;
}
